<app-header />
<section class="principale gap-8 h-auto lg:px-16 lg:mx-16 lg:py-8 px-8 xl:px-30 xl:py-16 bg-gray-100">
    <div class="md:w-2/4 py-8">
        <p class="text-gray-300 p-2 border border-gray-500 font-bold text-xs w-60 text-center">PARTENARIAT STRATÉGIQUE</p>
        <div class="xl:space-y-8 space-y-7 py-6 pr-16 xl:pr-30 xl:py-16">
            <p class="text-2xl lg:text-5xl text-gray-50 font-bold">Construisons ensemble un Congo durable</p>
            <p class="text-gray-300 text-sm lg:text-base">Le RH3D accueille des partenaires institutionnels, techniques et financiers qui partagent sa vision pour la gestion durable des ressources naturelles du Bassin du Congo.</p>
        </div>
    </div>
</section>
<section class="p-8 lg:px-16 xl:px-30 xl:py-16">
    <div class="">
        <p class="text-green-900 font-bold text-2xl lg:text-3xl text-center">Pourquoi devenir partenaire de RH3D ?</p>
        <p class="flex justify-center pt-4">
            <span class="block h-1 bg-green-800 rounded-full w-1/12"></span>
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 my-8 p-5 gap-8">
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Impact durable</p>
            <p class="text-center text-sm lg:text-base">Contribuez à des projets qui transforment le quotidien des communautés locales et autochtones</p>
        </div>
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Visibilité</p>
            <p class="text-center text-sm lg:text-base">Associez votre image à des actions porteuses de sens</p>
        </div>
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Collaboration</p>
            <p class="text-center text-sm lg:text-base">Travaillez avec une équipe engagée et expérimentée sur le terrain</p>
        </div>
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Valeurs communes</p>
            <p class="text-center text-sm lg:text-base">Partagez notre engagement pour un développement durable</p>
        </div>
    </div>
</section>
<section class="lg:px-16 p-8 xl:px-30 xl:py-16 bg-[#f0ede8]/50">
    <div class="">
        <p class="text-green-900 font-bold text-2xl lg:text-3xl text-center">Type de partenariat </p>
        <p class="flex justify-center pt-4">
            <span class="block h-1 bg-green-800 rounded-full w-1/12"></span>
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 my-8">
        <div class="space-y-5 lg:px-16 p-5 rounded-md bg-gray-50 border border-gray-50 shadow">
            <div class="flex justify-center">
                <p class="rounded-full bg-green-800 w-5 px-6 py-2 flex justify-center">
                    <span class="text-white text-2xl text-center">1</span>
                </p>
            </div>
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Partenariat financier</p>
            <p class="text-center text-sm lg:text-base">Souttenez nos projets par des financements et aidez-nous à aller plus loin</p>
        </div>
        <div class="space-y-5 lg:px-16 p-5 rounded-md bg-gray-50 border border-gray-50 shadow">
            <div class="flex justify-center">
                <p class="rounded-full bg-green-800 w-5 px-6 py-2 flex justify-center">
                    <span class="text-white text-2xl text-center">2</span>
                </p>
            </div>
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Partenariat technique</p>
            <p class="text-center text-sm lg:text-base">Apportez votre expertise et vos compétences à nos initiatives sur le terrain</p>
        </div>
        <div class="space-y-5 lg:px-16 p-5 rounded-md bg-gray-50 border border-gray-50 shadow">
            <div class="flex justify-center">
                <p class="rounded-full bg-green-800 w-5 px-6 py-2 flex justify-center">
                    <span class="text-white text-2xl text-center">3</span>
                </p>
            </div>
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Partenariat institutionnel</p>
            <p class="text-center text-sm lg:text-base">Collaborez avec nous pour mener des actions communes à fort impact</p>
        </div>
    </div>
</section>
<section class="lg:px-16 p-8 mb-16 xl:px-30 xl:py-16">
    <div class="grid grid-cols-1 lg:grid-cols-7 gap-8 items-stretch md:grid-cols-3">
        <div class="bg-green-50 rounded-md shadow py-8 px-8 space-y-6 lg:col-span-2">
            <fa-icon [icon]="faUsers" class="text-5xl text-green-900"></fa-icon>
            <p class="text-green-800 pt-6 font-bold text-2xl">Proposer un partenariat</p>
            <p class="text-sm text-gray-600">Vous souhaitez collaborer avec le RH3D ? </p>
            <p class="text-sm text-gray-600">Remplissez le formulaire ci-contre. </p>
            <p class="text-sm text-gray-600">Notre équipe vous contactera dans les 5 jours ouvrables pour discuter de votre projet.</p>
        </div>
        <div class="lg:col-span-3 md:col-span-2">
            <p class="text-green-800 text-2xl font-bold">Contactez-nous</p>
            <form action="" class="space-y-5">
                <div class="grid grid-cols-2 gap-4 mt-6 items-start">
                    <input type="text" placeholder="Nom de l'organisation *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <input type="email" placeholder="E-mail *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <input type="text" placeholder="Numéro de téléphone *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <input type="text" placeholder="Domaine d'expertise *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <div class="relative">
                        <input
                            type="text"
                            [formControl]="country"
                            placeholder="Pays *"
                            class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800 w-full"
                        >
                            @if (filteredCountries.length) {
                                <ul class="absolute left-0 top-full mt-2 w-full bg-white border border-gray-300 rounded-md shadow-lg z-50 max-h-60 overflow-y-auto">
                                    @for (country of filteredCountries; track country) {
                                        <li>
                                            <button
                                                type="button"
                                                class="w-full text-left px-4 py-2 hover:bg-gray-100"
                                                (click)="selectCountry(country)"
                                            >
                                                {{ country.country }}
                                            </button>
                                        </li>
                                    }
                                </ul>
                            }
                    </div>
                    <div class="relative">
                        <input type="text" [formControl]="city" placeholder="Ville *" class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                        @if (filteredCities.length) {
                            <ul class="absolute left-0 top-full mt-2 w-full bg-white border border-gray-300 rounded-md shadow-lg z-50 max-h-60 overflow-y-auto">
                                @for (city of filteredCities; track city) {
                                    <li>
                                        <button
                                            type="button"
                                            class="w-full text-left px-4 py-2 hover:bg-gray-100"
                                            (click)="selectCity(city)"
                                        >
                                            {{ city }}
                                        </button>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <textarea placeholder="Votre message" rows="5" class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800"></textarea>
                <button type="submit" class="w-full bg-green-900 text-gray-100 px-6 py-2 rounded-md hover:bg-green-700 transition">
                    <span class="font-semibold">Envoyez ma demande</span>
                </button>
            </form>
        </div>
        
        <div class="lg:col-span-2 self-end hidden lg:block">
            <img src="images/Reforestation-bro.png" alt="" class="w-full">
        </div>
    </div>
</section>
<app-footer />
