<app-header />
<section class="principale gap-8 h-auto items-start lg:px-16 p-8 lg:mx-16 xl:px-30 xl:py-16 bg-gray-100">
    <div class="md:w-2/4 lg:py-8">
        <p class="text-gray-300 p-2 border border-gray-500 font-bold text-xs w-44 text-center">ENGAGEMENT BÉNÉVOLE</p>
        <div class="xl:space-y-8 space-y-7 py-6 pr-16 xl:pr-30 xl:py-16">
            <p class="text-2xl lg:text-5xl text-gray-50 font-bold">Mettez vos talents au service du développement durable</p>
            <p class="text-gray-300 lg:text-base text-sm">Rejoignez une équipe engagée et contribuez directement à des projets de développement durable en République du Congo — sur le terrain ou à distance.</p>
        </div>
    </div>
</section>
<section class="p-8 lg:px-16 xl:px-30 xl:py-16">
    <div class="">
        <p class="text-green-900 font-bold text-2xl lg:text-3xl text-center">Pourquoi devenir bénévole ?</p>
        <p class="flex justify-center pt-4">
            <span class="block h-1 bg-green-800 rounded-full w-1/12"></span>
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 rounded-md  my-8 gap-12">
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Contribuez</p>
            <p class="text-center text-sm lg:text-base">Participez à des actions concrètes qui changent des vies </p>
        </div>
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Développez-vous</p>
            <p class="text-center text-sm lg:text-base">Acquérir de nouvelles compétences et vivez des expériences uniques</p>
        </div>
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Rejoignez une équipe</p>
            <p class="text-center text-sm lg:text-base">Intégrez une communauté engagée et partagez des valeurs fortes</p>
        </div>
        <div class="space-y-5 px-6 py-5 bg-green-50 rounded-md shadow">
            <p class="text-green-800 font-bold text-center text-lg lg:text-xl">Créer un impact</p>
            <p class="text-center text-sm lg:text-base">Votre engagement fait la différence au quotidien</p>
        </div>
    </div>
</section>
<section class="lg:px-16 p-8 xl:px-30 xl:py-16 bg-[#f0ede8]/50">
    <div class="">
        <p class="text-green-900 font-bold lg:text-3xl text-2xl text-center">Comment s'engager ?</p>
        <p class="flex justify-center pt-4">
            <span class="block h-1 bg-green-800 rounded-full w-1/12"></span>
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 my-8">
        <div class="space-y-5 px-16 py-5 md:px-6 rounded-md bg-gray-50 shadow">
            <div class="flex justify-center">
                <p class="rounded-full bg-green-800 w-5 px-6 py-2 flex justify-center">
                    <span class="text-white text-2xl text-center">1</span>
                </p>
            </div>
            <p class="text-green-800 font-bold text-center text-xl">Remplissez le formulaire</p>
            <p class="text-center text-sm lg:text-base">Inscrivez-vous en quelques minutes</p>
        </div>
        <div class="space-y-5 px-16 py-5 md:px-6 rounded-md bg-gray-50 shadow">
            <div class="flex justify-center">
                <p class="rounded-full bg-green-800 w-5 px-6 py-2 flex justify-center">
                    <span class="text-white text-2xl text-center">2</span>
                </p>
            </div>
            <p class="text-green-800 font-bold text-center text-xl">Nous vous contactons</p>
            <p class="text-center text-sm lg:text-base">Notre équipe vous recontacte pour échanger</p>
        </div>
        <div class="space-y-5 px-16 py-5 md:px-6 rounded-md bg-gray-50 shadow">
            <div class="flex justify-center">
                <p class="rounded-full bg-green-800 w-5 px-6 py-2 flex justify-center">
                    <span class="text-white text-2xl text-center">3</span>
                </p>
            </div>
            <p class="text-green-800 font-bold text-center text-xl">Rejoignez nos actions</p>
            <p class="text-center text-sm lg:text-base">Participez aux missions et initiatives sur le terrain</p>
        </div>
    </div>
</section>
<section class="lg:px-16 p-8 xl:px-30 xl:py-16 mb-16">
    <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 items-start md:grid-cols-3">
        <div class="bg-green-50 rounded-md shadow py-8 lg:px-4 px-8 space-y-6">
            <fa-icon [icon]="faUsers" class="text-5xl text-green-900"></fa-icon>
            <p class="text-green-800 pt-6 font-bold text-2xl">Votre candidature</p>
            <p class="text-gray-600 text-sm">Vous avez sélectionné vos missions ci-dessus ? </p>
            <p class="text-gray-600 text-sm">Complétez ce formulaire et l'équipe de coordination du RH3D vous recontactera sous 72 heures.</p>
        </div>
        <div class="lg:col-span-2 md:col-span-2">
            <p class="text-green-800 text-xl font-semibold">Formulaire d'inscription</p>
            <form action="" class="space-y-5">
                <div class="grid grid-cols-2 gap-4 mt-6 items-start">
                    <input type="text" placeholder="Nom et Prénom *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <input type="email" placeholder="E-mail *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <input type="text" placeholder="Numéro de téléphone *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <input type="text" placeholder="Profession / Formation *" class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                    <div class="relative">
                        <input
                            type="text"
                            [formControl]="country"
                            placeholder="Pays *"
                            class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800 w-full"
                        >
                            @if (filteredCountries.length) {
                                <ul class="absolute left-0 top-full mt-2 w-full bg-white border border-gray-300 rounded-md shadow-lg z-50 max-h-60 overflow-y-auto">
                                    @for (country of filteredCountries; track country) {
                                        <li>
                                            <button
                                                type="button"
                                                class="w-full text-left px-4 py-2 hover:bg-gray-100"
                                                (click)="selectCountry(country)"
                                            >
                                                {{ country.country }}
                                            </button>
                                        </li>
                                    }
                                </ul>
                            }
                    </div>
                    <div class="relative">
                        <input type="text" [formControl]="city" placeholder="Ville *" class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800">
                        @if (filteredCities.length) {
                            <ul class="absolute left-0 top-full mt-2 w-full bg-white border border-gray-300 rounded-md shadow-lg z-50 max-h-60 overflow-y-auto">
                                @for (city of filteredCities; track city) {
                                    <li>
                                        <button
                                            type="button"
                                            class="w-full text-left px-4 py-2 hover:bg-gray-100"
                                            (click)="selectCity(city)"
                                        >
                                            {{ city }}
                                        </button>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <textarea placeholder="Votre message de motivation" rows="5" class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-800"></textarea>
                <button type="submit" class="w-full bg-green-900 text-gray-100 px-6 py-2 rounded-md hover:bg-green-700 transition">
                    <span class="font-semibold">Envoyez ma demande</span>
                </button>
            </form>
        </div>
        <div class="lg:col-span-2 hidden lg:block">
            <img src="images/Reforestation-bro.png" alt="" class="w-full">
        </div>
    </div>
</section>
<app-footer/>
